body {
  background-color: rgba(236, 236, 236, 0.5);
  margin: 0;
}

form {
  width: 100%;
}

.MuiBox-root .MuiBox-root{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.MuiBox-root .MuiTypography-body2 {
  max-width: 80%;
}

form .MuiBox-root{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

form .MuiTypography-body2 {
  max-width: 80%;
}



