body {
  background-color: rgba(236, 236, 236, 0.5);
  margin: 0;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.MuiBox-root .MuiTypography-body2 {
  max-width: 80%;
}

form .MuiFormControl-root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
}
